*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'jost',sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: whitesmoke;
  font-family: century;
  cursor: pointer;
}
center{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-50%);
  font-family: arial;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid ;
  box-shadow: 60px;
  background-color: whitesmoke;
}
span{
     color:  rgb(61, 130, 241);
     font-weight: bold;
}
/*le logo*/
.corone{
  margin: 41.3px;
  font-size: 1.7rem;
}
.DB{
  margin: 31px;
  font-family: arial black;
  font-size: 1.6rem;
}
.logo{
  top: 6%;
}
.logo a{
  color: whitesmoke;
  padding: 0px 20px;
  border: 1px solid transparent;
  position: absolute;
  top: 12px;
  left: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-family: century;
  background-color: whitesmoke;
}
.logo span{
  color: black;
  font-weight: bold;
}
/*header*/
header{
   border: 2px solid;
   background-color:  rgb(61, 130, 241);
   position: fixed;
   width: 100%;
   top: 0;
   height: 22%;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 14%;
   box-shadow: 50px;
}
/*menu (home..)*/
.navmenu{
  margin-top: 2.6%;
   margin-left: 25%;
   display: flex;
}
.navmenu div{
   background-color: whitesmoke;
   border: 2px solid transparent;
}
.navmenu a{
   color: black;
   font-size: 16px;
   text-transform: capitalize;
   padding: 10px 20px;
   font-weight: 400;
   transition: all .42s ease;
}
.navmenu a:hover{
    border: 1px solid black;
    margin: 20px;
    color: black;
}
/*image user*/

.img1 img{
  margin-left: 71%;
  width: 120px;
  height: 100px;
}
.img1 img:hover {
  border: 2px solid ;
  width: 125px;
  height: 105px;
}
/*corp du site*/
/*video du header*/

.text1{
  font-size: 2.6rem;
  margin-top: -24%;
  margin-left: 3%;
  color :aliceblue;
}
.text-h2{
  font-size: 2rem;
  margin-top: 6cm;
  text-align: center;
  text-decoration: underline;
}
/*corp du site*/
/*corp du site partie nav*/
nav{
  margin-left: 2%;
  margin-right: 2%;
}
/*corp du site partie section*/
.section__container{
  margin-top: 2%;
}
.section__header{
  text-align: center;
}
.popular__card img:hover{
   border: 4px solid  rgb(61, 130, 241);
}
.popular__card img{
  height: 8cm;
  width: 10cm;
}
/*corp du site partie botton*/
button a {
  text-decoration: none;
  color: black;
}

.popular__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular__card p{
   margin-left: 0.5%;
   font-family:  monospace;
   font-size: 1.3rem;
}
.popular__card {
  border: 2px solid  rgb(61, 130, 241);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__content p {
  color: var(--text-light);
}
/*corp du site partie .client*/
.client {
  background-color: var(--extra-light);
}

.client__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.client__card {
  border: 1.5px solid  rgb(61, 130, 241);
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card img {
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  border: 1.5px solid   rgb(61, 130, 241);
}
.client__card img:hover{
  border: 4px solid   rgb(61, 130, 241);
}
.client__card  h6 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--text-dark);
}


/*menu*/
.menuu{
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4%;
}
.menu ul li a{
  text-decoration: none;
  color: black;
}
.menu{
  width: 4%;
}
.menu .a1{
  margin: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid;
}
.menu .a2{
  margin: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid;
}
.menu .a3{
  margin: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid;
}
.menu a:hover{
  border: 2px solid black;
  margin: 20px;
  color: black;
}
.menu{
  margin-top: 4%;
  width: 80%;
  height: 35%;
  font-size: 1.1rem;
  display: flex;
  background-color:  rgb(61, 130, 241);
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 5%;
}
/*pied de page*/
/*corp du site*/
footer {
  margin-top: 15%;
  flex-shrink: 0;
  border-top: 4px dashed #000;
  width: 100%;
  background-color:  rgb(230, 230, 233);
  color: #000;
  box-shadow: 60px;
}
/*pour tout les elements a du footer*/
footer a {
 text-decoration: none;
 color: #000;
}
/*pour tout les elements h3 du footer*/
footer h3{
  text-decoration: underline;
 padding-bottom: 20px ;
}
/*pour tout les bloc du footer*/
footer .bloc {
 width: 40%;
 margin: 0 7px;
}
/*la class contenu du footer*/
.contenu-footer{
 width: 900px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 font-size: 17px;
 padding: 20px 0px 20px;
}
/*coleur email*/
footer .email{
 color:    rgb(61, 130, 241);
}
footer .contact p{
 padding: 5px O;
}
/*les media*/
.liste-media {
 position: relative;
 right: 10px;
}
.liste-media img{
  border-left: 5.5px solid ;
 width: 40px;
 margin: 10px 10px;
}
.liste-media a{
 display: flex;
 align-items: center;
}
/*image footer*/
footer .im1 img {
  margin-top: 1%;
  height: 160px;
  width: 220px;
}
/*la date*/
.date
{
 background:  rgb(61, 130, 241);
 display: flex;
 font-family: arial ;
 font-size: 1.3rem;
 flex-wrap: wrap;
  padding-left: 600px;
  width: 750px;  
}



